.stms{
    &-form{
        width: 100%;
        margin-bottom: 10px;
        display: block;
    }
    &-form-input{
        box-sizing: border-box;
        height: 40px;
        width: 100%;
        font-size: 0.9em;
        padding-left: 10px;
        border-radius: 6px;
        color: #bdc3c7;
        background: rgb(53,47,61); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(53,47,61,1) 0%, rgba(47,53,75,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(53,47,61,1) 0%,rgba(47,53,75,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(53,47,61,1) 0%,rgba(47,53,75,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#352f3d', endColorstr='#2f354b',GradientType=1 ); /* IE6-9 */

        -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.8), 0px 2px 1px -2px rgba(255,255,255, 0.6);
        -moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.8), 0px 2px 1px -2px rgba(255,255,255, 0.6);
        box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.8), 0px 2px 1px -2px rgba(255,255,255, 0.6);

        border: none;
        outline: none;
    }
    &-btn{
        width: 100%;
        height: 40px;
        border-radius: 4px;
        outline: none;
        border: 1px solid #628bba;
        color: white;
        font-size: 0.9em;

        background: rgb(140,196,245); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(140,196,245,1) 0%, rgba(81,113,195,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(140,196,245,1) 0%,rgba(81,113,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(140,196,245,1) 0%,rgba(81,113,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cc4f5', endColorstr='#5171c3',GradientType=0 ); /* IE6-9 */

        -webkit-box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.4), inset 0px 2px 2px -2px rgba(255,255,255,0.65);
        -moz-box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.4), inset 0px 2px 2px -2px rgba(255,255,255,0.65);
        box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.4), inset 0px 2px 2px -2px rgba(255,255,255,0.65);

        &:disabled{
            background: #98a9b9;
            cursor: not-allowed;
        }
        &:active{
            -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.31);
            -moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.31);
            box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.31);
            border-color: #415c7c;
        }
    }
}