<div class="login-wrapper">
    <div class="login-card">
        <form (ngSubmit)="loginSubmit()" [formGroup]="credGroup">
            <label [ngClass]="{'error': username.invalid && username.touched}" class="stms-form">
                <span class="stms-form-input">Username: </span>
                <input formControlName="username" type="text" class="stms-form-input">
                <span *ngIf="username.invalid && username.touched" class="stms-form-hint">Min length - 3</span>
            </label>
            <label [ngClass]="{'error': password.invalid && password.touched}"  class="stms-form">
                <span class="stms-form-input">Password: </span>
                <input autocomplete="new-password" formControlName="password" type="password" class="stms-form-input">
                <span *ngIf="password.invalid && password.touched" class="stms-form-hint">Min length - 6</span>
            </label>
            <button [disabled]="credGroup.invalid" type="submit" class="stms-submit stms-btn">Let me in.</button>
        </form>
    </div>
</div>